.btn-warning {
  background-color: #cfa417 !important;
  border-color: #cfa417 !important;
  color: #fff !important;
}

.btn-warning:hover {
  opacity: 0.8;
}

.btn-success {
  background-color: #5fb844 !important;
  border-color: #5fb844 !important;
  color: #fff !important;
}

.btn-success:hover {
  opacity: 0.8;
}

.btn-info {
  background-color: #99cdf0 !important;
  border-color: #99cdf0 !important;
  color: #fff !important;
}

.btn-info:hover {
  opacity: 0.8;
}

.btn-secondary {
  background-color: #5c666b !important;
  border-color: #5c666b !important;
  color: #fff !important;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.bg-image {
  background: url('/images/bg-logo.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-primary {
  background-color: #eee;
}

.bg-secondary {
  background-color: #fff;
}

.shadow {
  -webkit-box-shadow: 0px 4px 10px -5px rgba(77,77,82,1);
  -moz-box-shadow: 0px 4px 10px -5px rgba(77,77,82,1);
  box-shadow: 0px 4px 10px -5px rgba(77,77,82,1);
}
